@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


    
        #bd
       {  background-color:rgb(197, 190, 190);
               font-family: "Poppins", sans-serif;
              font-weight: 300;
              background-color: #493b7a;

       }
    

       .height{
        height: 60vh;
       }
       

       .search{
       position: relative;
       box-shadow: 0 0 40px rgb(63, 96, 97);
         
       }

       .search input{

        height: 50px;
        text-indent: 25px;
        border: 2px solid #a4bff8;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid rgb(111, 53, 247);


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }
       @media (min-width: 770px) and (max-width:999px) 
       { 
        .search{width: 350px;}
        

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 40px;
        width: 110px;
        background:  rgb(0, 7, 7);

       }
      
       a:link {
              text-decoration: none;
              color: #234861;
            }
            
            a:visited {
              text-decoration: none;
            }
            
            a:hover {
              text-decoration: underline;
            }
            
            a:active {
              text-decoration: underline;
            }

       .row{
        padding-top: 14%;
        
       } 
       h1{
       color: rgb(173, 180, 187);
     padding-top: 10%;
       margin-left: 34%;
      }
      @media (min-width: 600px) and (max-width:770px) 
      { 
       .search{width: 400px;
      margin-left: 20%;}
      #table{
        margin-left: 20%;
      }

      }